{% extends "base.html" %}

{% block content %}

{% if labels|length > 0 %}
    <h4 class="text-center">Bảng tần số tần suất cân nặng của các cầu thủ</h4>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                {% for label in labels %}
                <th>{{ label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(data | length) %}
                <tr>
                    <td>{{ index[i] }}</td>
                    {% for i in data[i] %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<div width="80%">
    {{ chart|safe }}
</div>

{% endblock %}