<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <title>Document</title>
</head>
<body>
    <div>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">DataVS</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
            </div>
        </nav>
        
        <div class="container-fluid">
            <h2 class="text-secondary text-center"> Data Visualization </h2><br>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="list-group">
                        <a href="/linechart" class="list-group-item list-group-item-action">Line chart</a>
                        <a href="/barchart" class="list-group-item list-group-item-action">Bar chart</a>
                        <a href="/piechart" class="list-group-item list-group-item-action">Pie chart</a>
                        <a href="/granttchart" class="list-group-item list-group-item-action">Grantt chart</a>
                        <a href="/boxchart" class="list-group-item list-group-item-action">Box chart</a>
                        <a href="/scatterchart" class="list-group-item list-group-item-action">Scatter chart</a><br>
                    </div>
                </div>
                <div class="col-sm-9 col-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>