<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <title>{% block title1 %}{% endblock %}</title>
</head>
<body>
    <div>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Nhóm 4 - Trực quan hóa dữ liệu</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Trang chủ</a>
                </li>
              </ul>
            </div>
        </nav>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="list-group">
                        <a href="/hieu-du-lieu" class="list-group-item list-group-item-action">1.	Hiểu dữ liệu</a>
                        <a href="/tai-du-lieu" class="list-group-item list-group-item-action">2.	Tải dữ liệu</a>
                        <a href="/thong-ke-du-lieu-thieu" class="list-group-item list-group-item-action">3.	Thống kê dữ liệu thiếu</a>
                        <a href="/xu-ly-du-lieu" class="list-group-item list-group-item-action">4.	Xử lý dữ liệu</a>
                        <a href="/trinh-bay-du-lieu" class="list-group-item list-group-item-action">5.	Trình bày dữ liệu</a>
                        <a href="/mo-ta-du-lieu" class="list-group-item list-group-item-action">6.	Mô tả dữ liệu</a>
                        <a href="/khao-sat-dang-phan-phoi" class="list-group-item list-group-item-action">7. Khảo sát dạng phân phối</a><br>
                    </div>
                </div>
                <div class="col-sm-9 col-12">
                    <h2 class="text-secondary text-center"> {% block title2 %}{% endblock %} </h2><br>

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>