<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <title>Home</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Nhóm X</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Biểu đồ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Phân tích dữ liệu</a>
                </li>
              </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <h2 class="text-secondary text-center"> Trang chủ </h2><br>
            <div class="text-center">
                <a href="/index.html" style="font-size: 24px; margin: 0 0 100px 0;">Biểu đồ</a><a href="/data-analisis" style="font-size: 24px; margin: 0 0 100px 0;">Phân tích dữ liệu</a>
            </div>
            <div>
                <h4>Giới thiệu đề tài</h4>
                <br>
                <h4>Thông tin nhóm</h4>
                <table class="table table-hover">
                    <thead>
                        <th>
                            <td>Số thứ tự</td>
                            <td>Họ tên thành viên</td>
                            <td>Mã số sinh viên</td>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>Điểu Long</td>
                            <td>18025441</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>