{% extends 'base.html' %}

{% block title1 %}Trang chủ{% endblock %}
{% block title2 %}Giới thiệu đề tài{% endblock %}
{% block content %}

    <div class="text-center" style="width: 100%;">
         <div style="text-align: justify; font-size: 1.1em; padding: 20px;">
            <img style="float: left; width: 500px; margin: 0 10px 10px 0;" src="static/wc1.jpg" alt="WC1">
            <p> Từ xưa, bóng đá luôn là một trong những môn thể thao phổ biến nhất, được yêu thích nhất và được coi là môn thể thao vua.</p>
            <p>Giải vô địch bóng đá thế giới(WorldCup) là giải đấu bóng đá có quy mô lớn nhất do FIFA tổ chức 4 năm 1 lần.Worldcup là sự kiện thể thao là giải bóng đá lớn nhất hành tinh,là giải đấu thể thao siêu hấp dẫn nhất, thu hút sự quan tâm đông đảo trên thế giới,quy tụ các đội bóng mạnh nhất của từng khu vực trên thế giới. </p>
            <img style="float: right;; width: 500px; margin: 10px 0 0 10px;" src="static/wc2.jpg" alt="WC1">
            <p>Trong những năm gần đây bóng đá việt nam đang phát triển mạnh mẽ giữ vị trí hạng 94(tháng 10-2020), có vị trí cao nhất trong khu vực Đông Nam Á. Với sự phát triển hiện tại, việc Việt Nam tham lần đầu tiên tham dự vào giải đấu danh giá nhất của bóng đá thế giới là mong muốn của rất nhiều hâm mộ Việt Nam.</p>
            <p>Để tìm hiểu 1 đội bóng cần những gì để có thể góp mặt ở worldcup thì nhóm chúng em đã chọn phân tích dữ liệu các đội bóng tham dự worldcup năm 2018.Các thông số về thể lực các cầu thủ trong đội bóng từ cần có những chính sách để cải thiện ,phát triển thể lực cho cầu thủ nước nhà,các vị trí trong đội hình, độ tuổi để từ đó rút ra được kinh nghiệm, chiến thuật để phát triển nền bóng đá nước nhà.</p>
         </div>
         <br>
         <h4>Thông tin nhóm</h4>
         <table class="table table-hover">
            <thead>
               <th>
                     <td>Số thứ tự</td>
                     <td>Họ tên thành viên</td>
                     <td>Mã số sinh viên</td>
               </th>
            </thead>
            <tbody>
               <tr>
                     <td></td>
                     <td>1</td>
                     <td>Trần Trung Vinh(Nhóm Trưởng)</td>
                     <td>18079461</td>
               </tr>
               <tr>
                  <td></td>
                  <td>2</td>
                  <td>Điểu Long</td>
                  <td>18025441</td>
               </tr>
               <tr>
                  <td></td>
                  <td>3</td>
                  <td>Dương Cát Luynh</td>
                  <td>18087531</td>
               </tr>
               <tr>
                  <td></td>
                  <td>4</td>
                  <td>Nguyễn Duy Thiện</td>
                  <td>18087521</td>
               </tr>
               <tr>
                  <td></td>
                  <td>5</td>
                  <td>Bùi Sỹ Sơn </td>
                  <td>18025131</td>
               </tr>
               <tr>
                  <td></td>
                  <td>6</td>
                  <td>Hoàng Xuân Khang</td>
                  <td>18025261</td>
               </tr>
               <tr>
                  <td></td>
                  <td>7</td>
                  <td>Trần Phạm Gia Long</td>
                  <td>18083111</td>
               </tr>
            </tbody>
         </table>
   </div>

{% endblock %}
      